.pagination-wrapper {
    overflow-x:auto;
  }
  
  .pagination {
    justify-content: center;
    margin:30px;
  }
  
  .data-slice {
    margin-top: 15px;
  }

  .scroll-table{
    height: 315px;   
    overflow: auto;
  }